.coin-body-first {
  display: flex;
  margin-bottom: 32px;
}

.owned-coin {
  background-color: white;
  border-radius: 8px;
  padding: 12px;
}

.coin-body-second {
  display: flex;
  margin-bottom: 54px;
}

.chart {
  background-color: white;
  border-radius: 8px;
  padding: 12px;
  width: 450px;
  height: 500px;
}
