.coin-body-first {
  display: flex;
  margin-bottom: 32px;
}

.owned-coin,
.chart {
  background-color: white;
  border-radius: 8px;
  padding: 12px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.coin-body-second {
  display: flex;
  margin-bottom: 54px;
}

.chart {
  width: 450px;
  height: 500px;
}
