.denryoku-body-top {
  display: flex;
  margin-bottom: 32px;
}

.denryoku-body-top .weather {
  background-color: white;
  border-radius: 8px;
  padding: 12px;
}

.hatsuden-yoso {
  background-color: white;
  border-radius: 8px;
  padding: 12px;
}

.weather-wrap {
  display: flex;
}

.hatsuden-yoso div:first-child {
  margin-bottom: 18px;
}

.hatsuden-yoso-info {
  display: flex;
}

.denryoku-item {
  display: flex;
  align-items: center;
}

.denryoku-item h2 {
  width: 20%;
}

.denryoku-contents {
  display: flex;
  border-radius: 8px;
  background-color: white;
  padding: 12px;
  margin-top: 24px;
}

.denryoku-items {
  width: 100%;
}

.denryoku-contents .denryoku-graph {
  margin-top: 12px;
  background-color: white;
  padding: 12px;
  border-radius: 8px;
  height: auto;
}

.denryoku-buysell a {
  display: inline-block;
  text-decoration: none;
  color: white;
}

.denryoku-buysell {
  display: flex;
  margin-bottom: 32px;
}

.denryoku-buysell a {
  display: inline-block;
  text-decoration: none;
  color: white;
  padding: 12px 24px;
  border-radius: 8px;
  font-size: 24px;
}

.BUY {
  margin-right: 100px;
  margin-left: 100px;
}

.BUY a {
  background-color: #2e7d32;
}

.SELL a {
  background-color: #d84315;
}
