.body-wrap.mypage {
}

.user-info-item {
  display: flex;
  align-items: center;
}

.user-info-item h3 {
  width: 20%;
}

.subscription,
.user-info {
  background-color: white;
  border-radius: 8px;
  padding: 12px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.subscription {
  margin-bottom: 24px;
}
