.body-wrap.mypage {
}

.subscription,
.user-info-item,
.account-info-item {
  display: flex;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 50px;
}
.subscription h2,
.user-info-item h3,
.account-info-item h3 {
  width: 60%;
}

.account-info,
.user-info,
.user-image,
.subscription,
.user-info {
  background-color: white;
  border-radius: 8px;
  padding: 12px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.account-info,
.user-image,
.subscription {
  margin-bottom: 24px;
}

.account-info {
  margin-top: 25px;
}
