/* リセットCSS */
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.all-wrap {
  display: flex;
}

.menu-contents {
  width: 15%;
  background-color: #0097a7;
}
.body-wrap {
  width: 85%;
  padding-top: 24px;
  padding-left: 32px;
  background-color: #e3f2fd;
}

/* フォント */
@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);
body {
  font: normal normal bold 16px/24px Noto Sans JP;
}

/* メニュー */
.menu {
  height: 100vh;
}

.menu-head {
  color: white;
  font-weight: bold;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-list li a {
  display: block;
  cursor: pointer;
  color: white;
  text-decoration: none;
  padding: 16px 0;
  padding-left: 16px;
  /* border-left: white solid 18px; */
}

.menu-list li a:hover {
  transition: 0.3s;
  background-color: #014955;
}

.menu-wrap {
  width: 100%;
}

/* Body top*/
.body-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.body-top-item {
  /* border: #90A4AE 1px solid; */
  background-color: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  width: 24%;
  border-radius: 8px;
  padding: 12px;
}

.power-top-contents {
  display: flex;
  align-items: center;
}

.flex .side-img {
  width: 50%;
}

/* Body middle*/
.body-middle {
  display: flex;
  justify-content: space-between;
}

.body-middle-item {
  background-color: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  width: 70%;
  max-height: auto;
  border-radius: 8px;
  padding: 12px;
  padding-bottom: 0;
}

.body-middle-item img {
  width: 50px;
  height: auto;
}

.body-middle-item .slider {
  height: 20px;
}

.body-middle-item.news {
  background-color: white;
  width: 25%;
  height: auto;
}

/* Body bottom*/
.body-bottom {
  display: flex;
}
.body-bottom-item {
  background-color: rgb(204, 150, 24);
  width: 200px;
  height: 200px;
}
.body-bottom-item2 {
  background-color: rgb(204, 150, 24);
  width: 100px;
  height: 150px;
}
.body-bottom-item3 {
  background-color: rgb(204, 150, 24);
  width: 100px;
  height: 150px;
}
.body-bottom-item4 {
  background-color: rgb(204, 150, 24);
  width: 100px;
  height: 150px;
}

/* ニュース */
#news-ul {
  margin-top: 18px;
}

#news-ul li {
  border-top: 1px solid rgba(99, 99, 99, 0.2);
}

#news-ul li:last-child {
  border-bottom: 1px solid rgba(99, 99, 99, 0.2);
}

#news-ul li a {
  display: inline-block;
  padding: 12px 0;
  color: black;
}

#news-ul li a:hover {
  opacity: 0.5;
  transition: 0.3s;
}
